
<div>
    <% if @search_not_found %>
        <p><marquee>No results found.</marquee></p>
    <% else %>
        <table>
            <thead>
                <tr>
                    <th><%= sort_link(@query, :playername, "playername", default_order: :asc) %></th>
                </tr>
            </thead>
            <tbody>
                <% @players.each do |p| %>
                    <tr>
                        <td><%= link_to p.playername, player_path(p.id) %></td>
                    </tr>

                <% end %>
            </tbody>
        </table>
    <% end %>
</div>


