<h1>Editing batting</h1>

<%= render "form", batting: @batting %>

<br>

<div class="l_c">
  <%= link_to "Show this batting", @batting, class:"nav-link"%> 
  <%= link_to "Back to battings", battings_path, class:"nav-link" %>
</div>
