<h1>Editing player</h1>

  <%= render "form", player: @player %>
 

<br>

<div class="l_c">
  <%= link_to "Show this player", @player, class:"nav-link" %> 
  <%= link_to "Back to players", players_path, class:"nav-link"  %>
</div>
